.formContainer {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.inputField,
.textareaField,
.selectField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.inputField:focus,
.textareaField:focus,
.selectField:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.buttonContainer {
  display: Flex;
  justify-content: space-between;
}
.submitButton {
  background-color: #4caf50;
  opacity: 0.7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.kitIncludesList {
  display: flex;
  flex-direction: column;
}
.kitIncludesList li {
  display: flex;

  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.previewImages {
  height: 10rem;
  width: 100%;
  border-radius: 9px;
  border: 1px solid #33333365;
  margin: 0.5rem auto;
  position: relative;
  display: grid;
}
.previewImages div {
  padding: 0.5rem;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.greyButton {
  background-color: #bebebe;
  opacity: 0.7;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover,
.cancelButton:hover {
  opacity: 1;
}
