.navbarFilter {
  background-color: #333;
  width: 50vw;
  position: fixed;
  top: 2.9rem;
  left: 25%;
  z-index: 1;
}

.navLinks {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navLink:hover {
  color: #ccc;
}
