.productsMainArrows {
  width: 75vw;
  height: 22rem;
  margin: 0 auto;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
}

.productsMain {
  width: 63vw;
  height: 22rem;
  margin: 0 auto;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(196, 196, 196, 0.527);
}

.productsContainer {
  display: flex;

  height: 90%;
  margin: 0 auto;
  align-items: center;
}
.productsItemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 5px;

  border-radius: 3px;
}
.productsItems {
  flex: 1;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.textContainer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.6);
  width: 90%;
  max-width: 30rem;
  position: absolute;
  height: fit-content;
  min-height: 3rem;
  top: 55%;
  left: 50%;

  transform: translatex(-50%);
}
.image {
  color: red;
  font-size: 2rem;
}
.titleImageText {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}
.discountAmount {
  background-color: rgba(197, 2, 2, 0.8);
  width: fit-content;
  position: absolute;
  top: 5%;
  left: 5%;
}
.handleNextPage {
  position: relative;
  right: 5%;
}
.handlePreviousPage {
  position: relative;
  left: 5%;
}
.testing {
  height: 0.1rem;
  width: 100%;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translatex(-50%);

  position: absolute;
}
