.container {
  width: 50%;
  height: 50%;
  background-color: rgb(185, 185, 185, 0.2);
  align-items: center;
  border-radius: 9px;
  line-height: 28px;
  justify-content: center;
  border: 1px solid rgb(85, 85, 85);
  margin: 15% auto;
  display: Flex;
  flex-direction: column;
}
