.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 4%;
}

.gridItem {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
