.gridContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.gridItem {
  height: 20rem;
  width: 20rem;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
}

.imageWrapper {
  width: 90%;
  height: 50%;
  position: relative;
}
