.productsSkeletonItemMain {
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  animation: pulse 1.5s infinite;
}
.productsDetailSkeleton {
  width: 50vw;
  background-color: #e2e2e2;
  margin-top: 5rem;
  height: 35vw;
  animation: pulse 1.5s infinite;
}
.productsSkeletonItemMain h1 {
  align-self: flex-start;
  color: #333;
}
.productsSkeletonItem {
  width: 63vw;
  background-color: #e2e2e2;
  height: 90%;
}

.gridLayout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.gridItem {
  background-color: #e2e2e2;
  height: 20rem;
  width: 20rem;
  box-sizing: border-box;
  text-align: center;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
