.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  margin-top: 10rem;
}

.container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
}
